
// Body
$body-bg: #f8fafc;

$primary: #f89921;


// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
// Required
@import "../node_modules/bootstrap/scss/functions";
