label {
    font-size: 0.9rem;
    font-weight: 800;
}
.nav-pills{
    background: #ebebeb;
    padding: 5%;
    border-radius: 10px;
    border: solid 1px #d1d3e2;
}
.bs-placeholder{
    border: solid 1px #d1d3e2;
}
.bg-gradient-silver {
    background-color: #484748;
    background-size: cover;
}
/* .card-header, .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #F89921;
}
.card-header .text-primary {
    color: #ffffff!important;
} */
.sidebar .nav-item .collapse .collapse-inner .collapse-item.active, .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {
    color: #f89921;
}
/* .border-dark {
    border-color: #f89921!important;
} */